<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
	<link href="/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"  />
	<title>Dados Região Sul</title>
</head>
<body>	
	<div class="container">
		<br/>
		<div class="card">
		  	<div class="card-header">
		  		<nav class="navbar navbar-light bg-light">
			  		<a class="navbar-brand" th:href="@{/}">Home</a>
			  					  		
			  		<form class="form-inline" action="" th:action="@{/getDataState}" th:object="${stateDto}"  method="get" id="formPrincipal" onchange="document.forms['formPrincipal'].submit();" >
				  		<select class="form-control" th:field="*{idState}">
						    <option th:each="state : ${states}" th:value="${state.idState}" th:text="${state.name}"/>
						</select>
			  		</form>
				</nav>
		  	</div>
	  	  	<div class="card-body">
	  	  		<div class="card-group">
	  	  			<div class="card col-md-3">
	  	  				Estado: 
						<h6 th:text="${stateDto.name}"></h6>
						
						Bandeira:
						<br/>
			  			<img class="img-fluid" width="200" height="200" th:src="@{/img/bandeira_{sigla}(sigla=${stateDto.sigla})}"/> 
			  			<br/>
			  			<br/>
		
			  			População:
			  			<br/>
						<h6 th:text="${stateDto.population}"></h6>
			  			<br/>
				  			
			  			Custo População(USD):
			  			<br/>
						<h6 th:text="${stateDto.costPopulation}"></h6>
						<br/>
						
						Custo População(R$):
			  			<br/>
						<h6 th:text="${stateDto.costPopulationConversion}"></h6>
						<br/>
						
						Valor Dolar do dia:
			  			<br/>
						<h6 th:text="${stateDto.coinValue}"></h6>
	  	  			</div>
	  	  			<div class="card">
	  	  				<h6>CIDADES</h6>
	  	  				<div class="card" id="formAddCidade" style="display: none" onclick="Mudarestado('formAddCidade')">
							<br/>
	  	  					<form action="#" th:action="@{/{link}/salvarCidade(link=${stateDto.idState})}" th:object="${newCity}" method="post">
			  	  				<div class="row">
								  <div class="col">
							    	<input type="text" class="form-control" id="cidadeInput" placeholder="Cidade" th:field="*{name}">
								  </div>
								  <div class="col">
							    	<input type="number" class="form-control" id="population" placeholder="População" th:field="*{population}">
								  </div>
								  <div class="col">
							  		<button type="submit" class="btn btn-primary" onclick="hiddenElement('formAddCidade')">Enviar</button>
								  </div>
								</div>
							</form>
							<br/>
	  	  				</div>
	  	  				<div class="card">
	  	  					<br/>
  	  						<table class="table table-sm table-bordered" id="citysTable">
								<thead class="thead-dark ">
								    <tr>
								      <th scope="col">#</th>
								      <th scope="col">Nome</th>
								      <th scope="col">População</th>
								      <th scope="col">Ação</th>
								      
								      
								    </tr>
								 </thead>
								 <tbody>
								 	<tr th:each = "city : ${citys}">
								 		<td> <input class="form-control" th:value="${city.id}"/></td>
								 		<td> <input class="form-control" th:value="${city.name}" /></td>
								 		<td> <input class="form-control" th:value="${city.population}" /></td>
								 		<td>
								 			<div class="btn-group" role="group" aria-label="Basic example">
								 				<a class="btn btn-danger btn-sm" th:href="@{/excluirCidade/{idState}/citys/{idCity}(idCity=${city.id}, idState=${stateDto.idState})}">-</a>
							                </div>
								 		</td>
									</tr>
								 </tbody>
							</table>
							<button type="button" class="btn btn-primary btn-sm" onclick="showElement('formAddCidade')">Adicionar Cidade</button>
							
	  	  				</div>
	  	  			</div>
	  	  		</div>
	  	  	</div>
		</div>
	</div>
	
	
	<script src="/bootstrap/js/bootstrap.js" th:src="@{/bootstrap/js/bootstrap.js}"></script>
	<script src="/js/myJs.js" th:src="@{/js/myJs.js}"></script>
	
</body>
</html>